<!DOCTYPE html>
<head>
    <script src = "http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src = "{{url_for('static', filename='RGraph.common.core.js')}}"></script>
	<script src = "{{url_for('static', filename='RGraph.line.js')}}"></script>
<script>
	 var obj = null;
	 var d1  = [];
$(document).ready(
	    function(){

           // drawGraph();
            l   = 0; // The letter 'L' - NOT a one

            // Pre-pad the arrays with null values
            for (var i=0; i<600; ++i) {
                d1.push(null);
            }


            document.getElementById("status_lamp").innerHTML = "unknown";
            setTimeout(updateLAMP, 500);
            setTimeout(updateGraph, 500);
	    }
	    );


    function postdataLAMP(){
        $.get("/invert?key=ledlamp2", function(data,status){
        //alert("Data: " + data +"\nStatus: " + status);
        //document.getElementById("status_red").innerHTML = data;
        });
    }

    function updateLAMP(){
        $.get("/getdata?key=ledlamp2", function(data,status){
            document.getElementById("status_lamp").innerHTML = data;
             if (data=="ON"){
                data="ON";
            }
            else{
                data="OFF";
            }
            setTimeout(updateLAMP, 500);

        });
    }

        function getGraph(id, d1)
            {
                // After creating the chart, store it on the global window object
                if (!obj) {
                    obj = new RGraph.Line(id, d1)
                        .set('xticks', 50)
                        .set('background.grid.vlines', false)
                        .set('background.grid.border', false)
                        .set('background.barcolor1', 'white')
                        .set('background.barcolor2', 'white')
                        .set('title.xaxis', 'Last 30 seconds')
                        .set('title.vpos', 0.5)
                        .set('title', 'Server Response Time')
                        .set('title.yaxis.pos', 0.5)
                        .set('title.xaxis.pos', 0.5)
                        .set('colors', ['black'])
                        .set('linewidth',0.5)
                        .set('yaxispos', 'right')
                        .set('ymax', 1000)
                        .set('xticks', 25)
                        .set('filled', true)
                        .set('numyticks', 2)
                        .set('tickmarks', null)
                        .set('ylabels.count', 5)
                        .set('gutter.right', 40)



                    var grad = obj.context.createLinearGradient(0,0,0,250);
                    grad.addColorStop(0, '#efefef');
                    grad.addColorStop(0.9, 'rgba(0,0,0,0)');

                    obj.set('fillstyle', [grad]);
                }

                return obj;
            }

    function drawGraph (new_data)
            {
                // "cache" this in a local variable
                var _RG = RGraph;

                // Update the HTML counter - this is totally optional
                document.getElementById("num_updates").innerHTML = parseInt(document.getElementById("num_updates").innerHTML) + 1;

                RGraph.clear(document.getElementById("cvs"));

                var graph = getGraph('cvs', d1);
                graph.draw();

                d1.push(new_data);

                if (d1.length > 600) {
                    d1 = _RG.array_shift(d1);
                }

                if (RGraph.ISIE8) {
                    alert('[MSIE] Sorry, Internet Explorer 8 is not fast enough to support animated charts');
                } else {
                    obj.original_data[0] = d1;
                    //setTimeout(drawGraph, 50);
                }
            }
    function updateGraph(){
        //alert("updating");
        $.get("/getlatestdelay?key=delay", function(data,status){
            //alert("update graph");
            console.log(data);
            drawGraph(parseInt(data));
            //alert("drawed");
            setTimeout(updateGraph, 100);
	    });

    }

</script>
<style>
	canvas {
padding-left: 0;
padding-right: 0;
margin-left: auto;
margin-right: auto;
display: block;
width: 800px;
}

</style>
</head>
<body>
<div align="center">
     <img class="logo"src="{{url_for('static',filename='brcmlogo.png')}}" alt="Broadcom_Logo"></img>
    <h1 align="center"> WICED SMART APPLIANCE DEMO APPLICATION</h1>
</div>

<div align="center">
    <img src="http://icons.iconarchive.com/icons/icons8/ios7/256/Household-Lamp-icon.png" alt="lamp_img" width="200px">
    <br>
    <button onclick = "postdataLAMP()">lamp</button>
</div>
<div align="center">
    <p>Status of lamp is: <span id="status_lamp"></span></p>
</div>
<div>
  <canvas id="cvs" width="800" height="250">[No canvas support]</canvas>
            <div style="margin-left: 25px">
            Number of updates: <span id="num_updates">0</span>
</div>
 <script>

</script>

</body>

</html>